# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build artifacts
lib/
dist/
coverage/

# React Native / iOS
ios/Pods/
ios/build/
DerivedData/
*.xcworkspace

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Other Files
react_mobile_sdk_plan.md
example/ios/HawcxExampleApp.xcodeproj/xcuserdata/
example/android/app/debug.keystore
docs/RELEASE.md
example/android/local.properties
local-release/