android/.gradle/
android/build/
android/local.properties
android/.settings/
android/libs/
example/android/local.properties
docs/
src/__tests__/
lib/typescript/__tests__/
ios/Frameworks/.keep
**/.DS_Store
**/xcuserdata/
*.xcuserstate
*.log
